<html>
	<head>
		<title>Home</title>
		<script type='text/javascript' src='scripts/jquery.js'></script>
		<script type='text/javascript' src='scripts/postpdfdata.js'></script>
	</head>
	<body>
		<header>Home</header>
		<div id='container'>Click me to post</div>
	</body>
</html>